#   Secrets ────────────────────────────────────────────────────────────────────
.env


#   IDEs & tools ───────────────────────────────────────────────────────────────

venv/
.venv/

.idea
*.iws
*.iml
*.ipr

.vscode/

.terraform/
*.tfstate*

#   Python ─────────────────────────────────────────────────────────────────────

__pycache__/
.mypy_cache/
.pytest_cache/
 git add 